<!doctype html>
<html class="no-js" lang="{{ env.session.language.name_short }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>API</title>

	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="handheld, all">
	<link rel="stylesheet" href="/skeleton-package-api/style.css" type="text/css" media="handheld, all">
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<style media="screen" type="text/css">
		body {
			font-size: 1.3em;
		}
		blockquote {
			font-size: 1.1em;
		}
	</style>

</head>



<body data-spy="scroll" data-target="#myScrollspy">
<div class="container">
    <h1>{% trans "RESTful API" %}</h1>
    <p class="lead">
    	<i>
    		Below you can find a list of API calls that are available for you.
    	</i>
    </p>
    <div class="row">
        <div class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-offset-top="120" data-spy="affix">
            	<li class="active"><a href="#settings"><b>{% trans "Settings" %}</b></a></li>
            	{% for module in modules %}
	                <li><a href="#{{ module.get_name() }}">{{ module.get_module_path() }}</a></li>
            	{% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
        	<div id="settings">
        		<h2>{% trans "Settings" %}</h2>

				<div class="form-horizontal">
				<div class="panel panel-default">
					<div class="panel-heading">{% trans "Web client settings" %}</div>
					<div class="panel-body">
						<p>{{ docblock.getDescription() }}</p>

						{% block authentication %}
						<div class="form-group">
							<label class="col-xs-3 control-label">{% trans "API Key" %}</label>
							<div class="col-xs-9"><input type="text" id="api_key" class="form-control param" value="{{ env.cookie.api_key }}"/></div>
						</div>
						{% endblock %}

						<div class="form-group">
							<label class="col-xs-3 control-label">{% trans "Output" %}</label>
							<div class="col-xs-9">
								<select class="form-control param" id="api_output">
									<option value="print_r" {% if env.cookie.api_output == 'print_r' %}selected{% endif %}>print_r</option>
									<option value="json" {% if env.cookie.api_output == 'json' %}selected{% endif %}>JSON</option>
									<option value="serialize" {% if env.cookie.api_output == 'serialize' %}selected{% endif %}>serialize</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-9 col-xs-offset-3">
								<button type="submit" class="btn btn-primary" onclick="save_settings()">{% trans "Save" %}</button>
							</div>
						</div>
					</div>
				</div>
				</div>
        	</div>

			<script type="text/javascript">

				function save_settings() {
					settings = $('#settings').find('input, select');
					settings.each(function(i) {
						create_cookie($(this).prop('id'), $(this).val(), 30);
					})
				}

				function create_cookie(name, value, days) {
					if (days) {
						var date = new Date();
						date.setTime(date.getTime() + (days*24*60*60*1000));
						var expires = "; expires=" + date.toGMTString();
					} else {
						var expires = "";
					}

					document.cookie = name + "=" + value + expires + "; path=/";
				}
			</script>

        	{% for module in modules %}
				<hr />
        		<div id="{{ module.get_name() }}">
        			<h3>{{ module.get_module_path() }}</h3>

        			{% for call, docblock in module.get_calls() %}
        				<form class="form-horizontal" data-path="{{ module.get_module_path() }}" data-call="{{ call }}">
        				<div class="panel panel-default">
        					<div class="panel-heading">{{ module.get_module_path() }}?call=<b>{{ call }}</b></div>
        					<div class="panel-body">
        						<blockquote>
									{{ docblock.getDescription()|nl2br }}
								</blockquote>


								{% for tag in docblock.getTagsByName('param') %}
									<div class="form-group">
										<label class="col-xs-3 control-label">{{ tag.variableName }}</label>
										<div class="col-xs-9"><input type="text" name="{{ tag.variableName }}" class="form-control param" placeholder="{{ tag.description }}"/></div>
									</div>
								{% endfor %}
								<div class="form-group">
									<div class="col-xs-9 col-xs-offset-3">
										<button type="submit" class="btn btn-success">{% trans "Execute" %}</button>
									</div>
								</div>
        					</div>
        				</div>
        				</form>
        			{% endfor %}
        		</div>
        		<hr />
        	{% endfor %}
		</div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<pre>Some text in the modal.</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
	$('form').on('submit', function(event) {
		path = $(this).data('path');
		url = path + '?call=' + $(this).data('call');

		data = {};
		$.each( $(this).find('.param'), function( i, val) {
			data[val.name] = val.value
		});

		$('#settings').find('.param').each(function(i) {
			data[$(this).prop('id')] = $(this).val();
		});
		console.log(data);

		$.ajax({
			url: url,
			type: 'POST',
			data: data,
			success: function( data ) {
				$("#myModal .modal-body pre" ).html( data );
				$('#myModal .modal-title').html( path );
				$('#myModal').modal();
			},
			error: function (xhr, ajaxOptions, thrownError) {
				$( "#myModal .modal-body pre" ).html( xhr.responseText );
				$('#myModal').modal();
			}

		});

		$('#myModal').on('show.bs.modal', function () {
			$('.modal .modal-body').css('overflow-y', 'auto');
    		$('.modal .modal-body').css('max-height', $(window).height() * 0.7);
		});

		event.preventDefault();
	});
</script>


</body>


</html>
